.user-section {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 24px 0;
}

.userName {
  display: block;
  line-height: 0;
  padding: 14px 0 14px 0;
  margin: 0;
}

.userName button {
  font-size: 14px;
  font-weight: 400;
  background-color: inherit;
  border: 2px solid #ebebeb;
  padding: 4px 10px;
  border-radius: 3px;
  margin: 0;
}

.userName p {
  display: inline-block;
  font-size: 25px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 2px;
  vertical-align: middle;
  margin: 0;
}

.userName span {
  margin-left: 25px;
  vertical-align: middle;
}

.count {
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px 0 10px 0;
}

.count p {
  display: inline-block;
  margin: 0 4% 0 0;
}

.bold {
  font-weight: 600;
}

.user-name {
  font-weight: 600;
  font-size: 16px;
}

.posts-section {
  display: flex;
  border-top: 1px #ebebeb solid;
  justify-content: center;
  align-items: center;
}
.posts-section-header {
  display: inline-block;
  margin-right: 50px;
  cursor: pointer;
}

.posts-section-header:hover {
  margin-top: 1px solid black;
}

.posts-section-title {
  display: inline-block;
  margin-left: 5px;
  font-size: 13px;
  font-weight: 600;
}

.my-posts-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.dashboard-post {
  margin: 24px 24px 24px 0;
  width: 35%;
}

.dashboard-post img {
  width: 100%;
  height: auto;
}

.dashboard-container a {
  margin: 0;
  padding: 0;
}
