.edit-user-details-container {
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  padding: 1.2rem 2rem;
  border-radius: 10px;
  border: 1px solid rgb(240, 239, 239);
  margin: 2rem 0;
}

.field-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.field-container p {
  display: inline-block;
  font-weight: 500;
  vertical-align: middle;
}

.edit-user-details-container button {
  border: none;
  padding: 8px;
  background-color: #0095f6;
  color: white;
  font-weight: 500;
  border-radius: 3px;
}
