.feed-section {
  display: flex !important;
  justify-content: space-evenly !important;
  flex-flow: row nowrap !important;
}
.posts {
  width: 60%;
}

.post {
  border: 0.5px solid rgb(226, 226, 226);
  margin: 25px 0 50px 0;
  border-radius: 5px;
  background-color: white;
}

.post img {
  height: auto;
  width: 100%;
}

.post-owner-section {
  margin: 1% 2%;
}

.post-owner-section p {
  display: inline-block;
  margin-left: 1rem;
}

.post-details-container {
  padding: 0 1rem;
  line-height: 1;
}

.post-action-container {
  padding: 0;
  line-height: 0.2;
}

.post input {
  border: none;
  outline: none;
  padding: 10px 12px 14px 12px;
  width: 85%;
  margin-top: 5px;
  font-size: 1rem;
  height: 35px;
}

.post input::placeholder {
  color: rgb(175, 174, 174);
}

.post button {
  border: none;
  color: #0095f6;
  padding-right: 10px;
  background-color: white;
  font-size: 1rem;
}

.feed-right-container {
  width: 30%;
  padding: 25px 0;
}

.follow-suggestions-section {
  margin: 25px 0;
}

.current-user-section {
  margin: 25px 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
}

.current-user-userName {
  width: 50%;
  line-height: 1.3rem;
}

.current-user-userName p {
  margin: 0;
  padding: 0;
}

.suggested-users-container {
  margin: 14px 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
}

.suggested-users-container button {
  margin: 0;
  background-color: transparent;
  color: #55b7f7;
  font-size: 13px;
  font-weight: 600;
  outline: none;
  border: none;
}
